<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    

    <p> <%= pageTitle; %></p>

    <form action="/courses" method="POST"></form>

    <%- include('partials/dataTable') %>
    
    <%- include('partials/footer') %>
</body>
</html>