<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    

    <p> <%= pageTitle; %></p>

    <form action="/students_courses" method="POST">
    Row id to be removed: <input type="text" name="id" >
    <button type="submit">Remove row</button>
    </form>
    <form action="/students_coursesAdd" method="POST">
        <input type="text" name="id2" placeholder="id">
        <input type="text" name="student_id" placeholder="student_id">
        <input type="text" name="course_id" placeholder="course_id">
        <button type="submit">Sumbit</button>
    </form>
    <%- include('partials/dataTable') %>
    
    <%- include('partials/footer') %>
</body>
</html>